

.footSection{
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 250px;
  background-color: hsl(214, 90%, 12%);   
}

.foot-logo{
  margin-left:70px;
  margin-top:-0.65px;
}
.quick{
  display: flex;
  flex-direction: column;
  align-items: center;
   width:30%;
   height: auto;
   top: auto;
   gap: 0px;
   border-radius: 8px 0px 0px 0px;
   opacity: 0px;
   margin-left: -95px;

}


.quick h2{
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  margin-right: -310px;
  color: #fff;
  margin-left: -259px;
}



.quick ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -10px;
  
}


.quick ul li{
  font-weight: 550;
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  list-style: none;
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  margin-right: 70px;
  color: #fff;
}


.quick ul li a{
  text-decoration: none;
  color: white;
  margin-top:20px;
  margin-right:-90px;
}

.call-me ul li a img{
      margin-right: 9px;
      margin-top: 16px;
      width: 20px;


  
}
.call-me{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:30%;
  height: auto;
  top: auto;
  gap: 0px;
  border-radius: 8px 0px 0px 0px;
  opacity: 0px;

}
.call-me h2{
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color:#fff; 
  margin-left:220px; 
  

}

.call-me ul{
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-right:-99px;   
}
.call-me ul li{
  font-weight: 550;
  font-size: 15px;
  text-align: center;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top:-35px;
  margin-right:-190px;
}
.call-me ul li a{
  text-decoration: none;
  color: white;
  margin-top: 20px;
  margin-right: 150px; 
   
}


.logos{
  
}
.logo-follow h2{
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  margin-right: -103px;
  color: #fff;
  

}
.logo-main{
  display: flex;
  flex-direction: column;
  margin-right: -120px;
  
}

.logo-first{
  display:flex;
  flex-direction: row;
  margin-right: 15px;
  padding-left: 3px;
}
.logo-second{
margin-top: 15px;
padding-left: 33px;
}
.contact-us-down{
  margin-top: 190px;
  text-justify:30px;
  margin-left: -90px;
  
  }