.App {
  text-align: center;
}

html{
  scroll-behavior: smooth;
  background-color: #040C18;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.page-icon {
  width: 70px; 
  background-color: #1e3a8a;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

.background {
  /* background: rgb(9, 53, 80); */
  /* box-shadow: 1px 1px 8px 3px rgb(248 250 251 / 48%); */
  background-image: url('../public/Asset/Frame.png');
  background-blend-mode: Saturation;
}

#contact-span {
  width: 39px;
  height: 6px;
  gap: 0px;
  border-radius: 8px;
  opacity: 0px;
  border: none;
  background: linear-gradient(90deg, #AD66F9 30%, #EF9570 100%);
}

#contact-class {
  color: #EF9570;
}

.border-all {
  border: 1px solid #EF9570;
  border-radius: 0 30px 30px 30px;
}

.borderall {
  border: 1px solid rgb(243, 116, 243);
  border-radius: 30px 0 30px 30px;
}

#gradient {
  /* color: linear-gradient(103.22deg, #AD66F9 -13.86%, #f49867 99.55%); */
  background: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  /* font-family: Manrope; */
  color: transparent;
}

#submit {
  opacity: 2px;
  background: rgba(255, 255, 255, 0.26);
  box-shadow: 0px 4px 4px 0px rgba(4, 43, 90, 0.2);
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
